body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
}

#dd-calendar-api-type,
input[type="text"],
input[type="date"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:valid {
  background-color: white;
}
input:invalid {
  background-color: lightpink;
}
button {
  padding: 10px 15px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #4cae4c;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}
th {
  background-color: #bdffbe;
}
/* tr {
  cursor: default;
} */
.tr-selected {
  background: yellow;
}
tr:nth-child(odd) {
  background-color: #e5e5e5;
}
tr:nth-child(odd).tr-selected {
  background-color: yellow;
}
/* tr:hover {
  background-color: #f1f1f1;
} */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.modalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
